<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         cacheResult="false"
         beStrictAboutOutputDuringTests="false">
  <testsuites>
    <testsuite name="Server Dashboard">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
